.delButton {
    float: right;
}

.newNoteButton {
float: left;
}

.menu {
    margin-top: 40px;
}

.item_in input {
    width: 100%;
    outline: none;
    border: none;
}

.item_area {
    position: relative;
    margin-top: 20px;
}

.item_area textarea {
    width: 100%;
    height: 300px;
    resize: none;
    outline: none;
    border: none;
}